

:root{
    --yellow-color: #f4e381;
}

.header{
    display: flex;
    justify-content: center;
    font-weight: bold;
    align-items: center;
    padding: 20px 10%;

    ul{
        display: flex;
        align-items: center;
        gap: 10px;

        li{
            list-style-type: none;
            font-weight: bold;
            padding: 10px;
            border-radius: 10px;
            cursor: pointer;

            &:hover{
                background-color: var(--yellow-color);
                color: #000;
            }
        }
    }

    .aLogo{
        font-weight: bold;
        font-size: 36px;
        color: black;

        span{
            color: green;
        }
    }
}

.socialMedias{
    display: flex;
    gap: 30px;
    cursor: pointer;
    padding: 20px 10%;
}

